/********/
/* Core */
/********/
/* body */
BODY {
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
  border: 0px;
  margin: 0;
  margin-top: 4px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  scrollbar-base-color: rgb(51,102,0);
  scrollbar-face-color: rgb(153,153,153);
  scrollbar-track-color: rgb(128,128,128);
  scrollbar-arrow-color: rgb(255,207,0);
  scrollbar-3dlight-color: rgb(153,153,153);
  scrollbar-highlight-color: rgb(204,204,204);
  scrollbar-shadow-color: rgb(255,255,255);
  scrollbar-darkshadow-color: rgb(0,0,0);
  background-color: rgb(230,230,230);
}

/* links */
A {
  color: rgb(0,0,160);
  text-decoration: none;
}
A:VISITED {
  color: rgb(50,50,255);
}
A:HOVER {
  text-decoration: underline;
}
A:ACTIVE {
  color: rgb(220,0,0);
}

/* images */
IMG {
  border: 0px;
}

/* layers */
DIV {
  width: 100%;
  left: 0px;
  float: left;
}
DIV.index {
}

/* tables */
TABLE {
  padding: 0px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
TABLE.spacer {
  width: 7px;
  height: 14px;
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}


/*****************/
/* Error display */
/*****************/
TABLE.error-messages {
  width: 500px;
  font-size: 0px;
  background-image: url("../../img/errors/background.gif");
}

TABLE.error-messages TBODY TD.corner-top-left {
  width: 5px;
  height: 5px;
  background-image: url("../../img/errors/table_corner_1.gif");
}

TABLE.error-messages TBODY TD.line-top {
  width: 490px;
  height: 5px;
  background-image: url("../../img/errors/line_top.gif");
}

TABLE.error-messages TBODY TD.corner-top-right {
  width: 5px;
  height: 5px;
  background-image: url("../../img/errors/table_corner_2.gif");
}

TABLE.error-messages TBODY TD.line-left {
  width: 5px;
  background-image: url("../../img/errors/line_left.gif");
}

TABLE.error-messages TBODY TD.line-right {
  width: 5px;
  background-image: url("../../img/errors/line_right.gif");
}

TABLE.error-messages TBODY TD.exclamation {
  width: 29px;
  height: 26px;
}

TABLE.error-messages TBODY TD.message-prefix-1 {
  width: 14px;
  height: 26px;
}

TABLE.error-messages TBODY TD.x {
  width: 6px;
  height: 6px;
}

TABLE.error-messages TBODY TD.message-prefix-2 {
  width: 7px;
  height: 26px;
}

TABLE.error-messages TBODY TD.message {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

TABLE.error-messages TBODY TD.corner-bottom-left {
  width: 5px;
  height: 5px;
  background-image: url("../../img/errors/table_corner_3.gif");
}

TABLE.error-messages TBODY TD.line-bottom {
  width: 490px;
  height: 5px;
  background-image: url("../../img/errors/line_bottom.gif");
}

TABLE.error-messages TBODY TD.corner-bottom-right {
  width: 5px;
  height: 5px;
  background-image: url("../../img/errors/table_corner_4.gif");
}
