<?xml version="1.0"
      encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
   - Application context
   -
   - Author: Jonathan Aumont
-->

<beans>
  <!-- ========== Facades ======================================================== -->
  <bean name="livreFacade"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.facade.implementations.LivreFacade">
                        <constructor-arg>
                          <ref bean="livreService"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="membreFacade"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.facade.implementations.MembreFacade">
                        <constructor-arg>
                          <ref bean="membreService"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="pretFacade"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.facade.implementations.PretFacade">
                        <constructor-arg>
                          <ref bean="pretService"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="reservationFacade"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.facade.implementations.ReservationFacade">
                        <constructor-arg>
                          <ref bean="reservationService"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
</beans>
