<?xml version="1.0"
      encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
   - Application context
   -
   - Author: Jonathan Aumont
-->

<beans>
  <!-- ========== Services ======================================================= -->
  <bean name="livreService"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.service.implementations.LivreService">
                        <constructor-arg>
                          <ref bean="livreDAO"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="membreService"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.service.implementations.MembreService">
                        <constructor-arg>
                          <ref bean="membreDAO"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="pretService"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.service.implementations.PretService">
                        <constructor-arg>
                          <ref bean="pretDAO"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
  <bean name="reservationService"
        parent="transactionProxy">
        <property name="target">
                  <bean class="ca.qc.collegeahuntsic.bibliothequeBackEnd.service.implementations.ReservationService">
                        <constructor-arg>
                          <ref bean="reservationDAO"/>
                        </constructor-arg>
                        <constructor-arg>
                          <ref bean="pretDAO"/>
                        </constructor-arg>
                  </bean>
        </property>
  </bean>
</beans>
