<?xml version="1.0"
      encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
   - Application context DTO
   -
   - Author: Jonathan Aumont
-->

<beans>
  <!-- ========== DTOs =========================================================== -->
  <bean name="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingResources">
                  <list>
                    <value>ca/qc/collegeahuntsic/bibliothequeBackEnd/dto/LivreDTO.hbm.xml</value>
                    <value>ca/qc/collegeahuntsic/bibliothequeBackEnd/dto/MembreDTO.hbm.xml</value>
                    <value>ca/qc/collegeahuntsic/bibliothequeBackEnd/dto/PretDTO.hbm.xml</value>
                    <value>ca/qc/collegeahuntsic/bibliothequeBackEnd/dto/ReservationDTO.hbm.xml</value>
                  </list>
        </property>
        <property name="hibernateProperties">
                  <props>
                    <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                    <prop key="hibernate.show_sql">true</prop>
                    <prop key="hibernate.format_sql">true</prop>
                    <prop key="hibernate.max_fetch_depth">3</prop>
                    <prop key="hibernate.default_batch_fetch_size">16</prop>
                    <prop key="hibernate.order_updates">true</prop>
                    <prop key="hibernate.generate_statistics">false</prop>
                    <prop key="hibernate.jdbc.fetch_size">0</prop>
                    <prop key="hibernate.jdbc.batch_size">0</prop>
                    <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
                    <prop key="hibernate.connection.autocommit">false</prop>
                    <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                    <prop key="hibernate.cache.use_minimal_puts">true</prop>
                    <prop key="hibernate.cache.use_query_cache">true</prop>
                    <prop key="hibernate.cache.use_second_level_cache">true</prop>
                    <prop key="hibernate.cache.query_cache_factory">org.hibernate.cache.StandardQueryCacheFactory</prop>
                    <prop key="hibernate.cache.use_structured_entries">true</prop>
                    <prop key="hibernate.transaction.flush_before_completion">false</prop>
                    <prop key="hibernate.transaction.auto_close_session">false</prop>
                  </props>
        </property>
        <property name="dataSource">
                  <ref bean="dataSource"/>
        </property>
  </bean>
  
</beans>
