<?xml version="1.0"
      encoding="UTF-8" ?>

<!DOCTYPE web-app PUBLIC
          "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
          "http://svn.apache.org/repos/asf/beehive/trunk/netui/external/struts/web-app_2_3.dtd">

<web-app>
  <!-- ========== Filter definitions ============================================ -->
  <filter>
    <filter-name>UnicodeEncoderFilter</filter-name>
    <filter-class>ca.qc.collegeahuntsic.bibliotheque.filter.UnicodeEncoderFilter</filter-class>
  </filter>

  <!-- ========== Filter mapping definitions ==================================== -->
  <filter-mapping>
    <filter-name>UnicodeEncoderFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!-- ========== Action definitions ============================================ -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
        /WEB-INF/conf/core/global-forwards/struts-config.xml,
        /WEB-INF/conf/core/message-resources/struts-config.xml,
        /WEB-INF/conf/core/plug-in/struts-config.xml,
      </param-value>
    </init-param>

    <init-param>
      <param-name>config/common/layout</param-name>
      <param-value>
        /WEB-INF/conf/common/layout/struts-config.xml
      </param-value>
    </init-param>

    <init-param>
      <param-name>config/common/viewTemplate</param-name>
      <param-value>
        /WEB-INF/conf/common/viewTemplate/struts-config.xml,
        /WEB-INF/conf/common/viewTemplate/event/struts-config.xml,
        /WEB-INF/conf/common/viewTemplate/layout/struts-config.xml
      </param-value>
    </init-param>

    <init-param>
      <param-name>config/livreManagement/viewAllLivres</param-name>
      <param-value>
        /WEB-INF/conf/core/message-resources/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewAllLivres/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewAllLivres/event/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewAllLivres/layout/struts-config.xml
      </param-value>
    </init-param>

    <init-param>
      <param-name>config/livreManagement/viewLivre</param-name>
      <param-value>
        /WEB-INF/conf/core/message-resources/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewLivre/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewLivre/event/struts-config.xml,
        /WEB-INF/conf/livreManagement/viewLivre/layout/struts-config.xml
      </param-value>
    </init-param>

    <init-param>
      <param-name>applicationConfigurator</param-name>
      <param-value>conf/applicationConfigurator</param-value>
    </init-param>

    <init-param>
      <param-name>application</param-name>
      <param-value>lang/ApplicationResources</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- ========== Action mapping definitions ==================================== -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- ========== Server setting definitions ==================================== -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- ========== Taglib definitions ============================================ -->
  <taglib>
    <taglib-uri>struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>bibliotheque-config</taglib-uri>
    <taglib-location>/WEB-INF/tld/bibliotheque-config.tld</taglib-location>
  </taglib>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext-jdbc.xml,
                 classpath*:applicationContext-dto.xml,
                 classpath*:applicationContext-dao.xml,
                 classpath*:applicationContext-service.xml,
                 classpath*:applicationContext-facade.xml,
                 /WEB-INF/spring/common/applicationContext-struts.xml,
                 /WEB-INF/spring/livreManagement/viewAllLivres/applicationContext-struts.xml,
                 /WEB-INF/spring/livreManagement/viewLivre/applicationContext-struts.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>
