<?xml version="1.0"
      encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
   - Struts application context for livre delegate action
   -
   - Author: Gilles Benichou
-->

<beans>
  <!--   ========== View livre =================================================== -->
  <bean name="/livreManagement/viewLivre/event/viewLivre"
        class="ca.qc.collegeahuntsic.bibliotheque.struts.action.ViewLivreAction">
        <constructor-arg>
          <ref bean="sessionFactory"/>
        </constructor-arg>
        <constructor-arg>
          <ref bean="livreFacade"/>
        </constructor-arg>
  </bean>

  <!--   ========== Save livre =================================================== -->
  <bean name="/livreManagement/viewLivre/event/saveLivre"
        class="ca.qc.collegeahuntsic.bibliotheque.struts.action.SaveLivreAction">
        <constructor-arg>
          <ref bean="sessionFactory"/>
        </constructor-arg>
        <constructor-arg>
          <ref bean="livreFacade"/>
        </constructor-arg>
  </bean>
</beans>
